<!DOCTYPE html>
<html lang="en">
	<head>
		<% include templates/head %>
	</head>
	<body>
		<div id="wrapper">
			<% include templates/navigation %>
			
			<div id="page-wrapper">
				<%- body %>
			</div>
		</div>
	</body>
</html>