<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title><%= title %></title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/metisMenu.min.css">
<link rel="stylesheet" href="/stylesheets/timeline.css">
<link rel="stylesheet" href="/stylesheets/sb-admin-2.css">
<link rel="stylesheet" href="/stylesheets/morris.css">
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">