<% layout('../layout') -%>
<div class="col-lg-12">
   <h1 class="page-header">Gas Car</h1>
</div>
<div style="height: 120px;"></div>
<div class="panel panel-default">
   <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Live Car Data
   </div>
   <!-- /.panel-heading -->
   <div class="panel-body">
      <div id="morris-area-chart"></div>
   </div>
   <!-- /.panel-body -->
</div>
<div class="panel panel-default">
   <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Live Car Data
   </div>
   <div class="panel-body">
      <div id="chart_div" style="width: 400px; height: 120px;"></div>
      <div id="RPM" style="width: 400px; height: 120px;"></div>
   </div>
   <!-- /.panel-body -->
</div>
</div>
<% include ../templates/javascript %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
   google.charts.load('current', {'packages':['gauge']});
   google.charts.setOnLoadCallback(drawChart);
   function drawChart() {
   
   
   //This is the name and initail value for each gauge.
     var data = google.visualization.arrayToDataTable([
       ['Label', 'Value'],
       ['Speed', 55],
       ['Temp', 68],
       ['Joules', 50],
       ['A/F Ratio', 90]
     ]);
   	
     var options = {
       width, height: 120,
       redFrom: 90, redTo: 100,
       yellowFrom:75, yellowTo: 90,
       minorTicks: 5
     };
     var dataRPM = google.visualization.arrayToDataTable([
       ['Label', 'Value'],
       ['RPM', 5000]
     ]);
     var optionsRPM = {
     	width, height: 120,
     	redFrom: 90, redTo : 100,
     	yellowFrom: 75, yellowTo: 90,
     	minorTicks: 5
     };
     var gauges = new google.visualization.Gauge(document.getElementById('chart_div'));
   	 var gaugesRPM = new google.visualization.Gauge(document.getElementById('RPM'));
     gauges.draw(data, options);
     gaugesRPM.draw(dataRPM, optionsRPM);
     setInterval(function() {
     //Every 13 seconds set the data to a random point for the RPM gauge
       data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
       gauges.draw(data, options);
     }, 13000);
     setInterval(function() {
     //Every 5 seconds set the data to a random point for the Speed gauge
       data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
       gauges.draw(data, options);
     }, 5000);
     setInterval(function() {
     //Every 26 seconds set the data to a random point for the Engine Temp gauge
       data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
       gauges.draw(data, options);
     }, 26000);
      setInterval(function() {
     //Every 5 seconds set the data to a random point for the Joules gauge
       data.setValue(3, 1, 40 + Math.round(60 * Math.random()));
       gauges.draw(data, options);
     }, 5000);
     setInterval(function() {
     //Every 26 seconds set the data to a random point for the A/F Ratio gauge
       data.setValue(4, 1, 60 + Math.round(20 * Math.random()));
       gauges.draw(data, options);
     }, 26000);
     setInterval(function() {
     //Every 26 seconds set the data to a random point for the A/F Ratio gauge
       dataRPM.setValue(0, 1, 2000);
       gaugesRPM.draw(dataRPM, optionsRPM);
     }, 5000);
   }
</script>